
/*background image position*/
.bgPosition0 {
    background-position: 0px 0px;
}

.bgPosition1 {
    background-position: -100px 0px;
}

.bgPosition2 {
    background-position: -200px 0px;
}

.bgPosition3 {
    background-position: -300px 0px;
}

.bgPosition4 {
    background-position: 0px -100px;
}

.bgPosition5 {
    background-position: -100px -100px;
}

.bgPosition6 {
    background-position: -200px -100px;
}

.bgPosition7 {
    background-position: -300px -100px;
}

.bgPosition8{
    background-position: 0px -200px;
}

.bgPosition9 {
    background-position: -100px -200px;
}

.bgPosition10 {
    background-position: -200px -200px;
}

.bgPosition11 {
    background-position: -300px -200px;
}

.bgPosition12 {
    background-position: 0px -300px;
}

.bgPosition13 {
    background-position: -100px -300px;
}

.bgPosition14 {
    background-position: -200px -300px;
}

.bgPosition15 {
    background-position: -300px -300px;
    background-image: none;
